<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
        <style type="text/css">
            body { margin:0;}
            #content { width:470px; margin:0 auto;}
            #side { background: #99FF99; height: 300px; width: 120px; float: left; }
            #side1 { background: #99FF99; height: 300px; width: 120px; float: right; }
            #main { background: #99FFFF; height: 300px; margin:0 120px; }
        </style>
    </head>
    <body>
        <div id="content">
            <div id="side">此处显示 id "side" 的内容</div>
            <div id="side1">此处显示 id "side1" 的内容</div>
            <div id="main">此处显示 id "main" 的内容</div>
        </div>
    </body>
</html>


